@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

/* TOP AND BOTTOM */

.header {
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  /* How do we make it drop to the bottom of the screen? */
}

.left-links {
  display: flex;
  padding-inline-start: 15px;
  gap: 15px; /*set these two equal for easy math. Margins don't collapse in flex or grid.*/
}

.right-links {
  display: flex;
  padding-inline-end: 15px;
  gap: 15px;
}

ul {
  list-style-type: none;
}

a {
  /*handle spacing within the parent div*/
  text-decoration: none;
  color: rgb(113, 103, 103);
}

/* MIDDLE */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 15px;
}
