.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 50px; this is just to test some stuff out */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 10px; /* giving the logo some space from the bar */
}

.left-links {
  display: flex;
  align-items: left;
}

.right-links {
  display: flex;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  margin: auto;
  padding-inline-start: 10px;
  /* INSPECT revealed that the margin:auto was being overriden by this having a a default value*/
  padding-inline-end: 10px;
  /*for uniformity*/
  display: flex; /*are we supposed to turn these into flex items...explicitly? YES. Because the lis/as gotta be sorted left to right.*/
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
}
